@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Poppins', Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

[class*="container"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

/* .main__page {
  min-height: calc(100vh - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.main__page h1 {
  font-size: 5rem;
}

.main__page p {
  font-size: 2rem;
  margin: 0;
}